/* Definindo o estilo básico da página */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Garante que a altura do corpo ocupe toda a tela */
  }
  
  /* Estilo para as seções com conteúdo */
  .content {
    padding: 50px;
    text-align: center;
    background-color: #616df9;
  }
  
  /* A classe parallax cria o efeito de fundo */
  .parallax {
    background-image: url('img/design.png'); /* Substitua com o caminho correto da sua imagem */
    height: 100vh; /* 100% da altura da janela */
    background-attachment: fixed; /* Faz a imagem ficar fixa enquanto a página rola */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-size: cover; /* Cobre toda a área */
  }
  
  /* Ajustes para dispositivos móveis */
  @media (max-width: 768px) {
    .parallax {
      background-attachment: scroll; /* Ajuste para dispositivos móveis */
    }
  }
  .meubotao2 {
    display: inline-block;
    background-color: #050612; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Tamanho do botão */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de mãozinha */
}

  .meubotao2:hover {
    background-color: #ff0000; /* Muda a cor quando o mouse passa sobre o botão */
}