/* Aplicando estilos globais */
* {
    margin: 0; /* Remove todas as margens */
    padding: 0; /* Remove o padding */
    box-sizing: border-box; /* Define o box-sizing para todos os elementos */
}

html, body {
    height: 100%; /* Garante que o html e body ocupem 100% da altura */
}

/* Estilos do título fixo no topo */
h1 {
    position: fixed; /* Fixa o título no topo da tela */
    top: 0; /* Fixa no topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Tamanho total da largura da tela */
    background-color: #616df9; /* Cor de fundo do título */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaço interno */
    z-index: 1000; /* Título sobre outros elementos */
    box-shadow: 0 4px 2px -2px gray; /* Sombra */
}

/* Estilos do corpo */
body {
    background-color: #04015e;
    font-family: Arial, sans-serif;
    padding-top: 80px; /* Espaço para o título fixo */
    height: 100%; /* Garante que o corpo ocupe toda a altura */
}

/* Container principal */
.container {
    display: flex;
    height: 100vh;
    width: 80%;
    margin: 50px auto;
}

/* Estilo para as tabelas */
.tabela {
    text-align: right;
}

table {
    margin-left: auto;
    margin-right: 0;
    border-collapse: collapse;
    width: 70%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 0;
    border: 4px;
    align: center;
}

td {
    padding: 15px;
    text-align: center;
    border: 1px solid #8f95ff;
    font-size: 15px;
    height: 50;
}

th {
    background-color: #616df9;
    color: black;
    font-size: 20px;
    height: 50;
    width: 50;
    text-align: center;
}

/* Estilo dos links */
a {
    color: #616df9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Estilo das imagens de perfil */
.perfil {
    text-align: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 4px solid #616df9;
    display: flex;
}

/* Container para cada seção de perfil */
.container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 50px auto;
}

/* Estilo do botão */
.meubotao {
    display: inline-block;
    background-color: #616df9; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Tamanho do botão */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor em forma de mãozinha */
}

.meubotao:hover {
    background-color: #ff0000; /* Muda a cor quando o mouse passa sobre o botão */
}
